* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  max-width: 548px;;
}

a:-webkit-any-link {
  color: #4D4D4D;
  cursor: pointer;
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}

body { 
  margin: 0;
  background: #FFF7ED;

}

p{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  color: #161616;
  padding: 0px;
}

h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* or 119% */  
  
  color: #161616;
  padding: 10px 20px ;
}

h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */


  color: #161616;
}



ul{
  text-decoration: none;
  list-style: none;
  font-family: 'Inter';
  margin: 5px;
  padding: 10px;
}

.bold{
  font-size: 20px;
  font-weight: bold;
}

.about{
  width: 548.15px;
  height: 800.51px;
  background: #FFF7ED;
}

.about--square{
  width: 494px;
  height: 198px;
  margin: 0px 27px;  
  background: #FFCC8D;
  border-radius: 5px;
}

.about--square--text{
  position: absolute;
  width: 420px;
  height: 60px;
  padding: 0px 20px; 

}

.about--square--button{
  position: relative;
  width: 174px;
  height: 49px;
  top: 120px;
  left: 55px;;
  
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15.9462px;
  line-height: 24px;
  /* identical to box height, or 150% */

  align-items: center;

  background: #161616;
  border-radius: 10px;
  border: none;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.footer{
  position: absolute;
  width: 548.15px;
  height: 74.75px;
  background: #252525;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.footer--text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  /* or 164% */

  text-align: center;

  color: #AAAAAA;

  padding: 1vh 0px 0px 0px;
}

.fontsize-26{
  font-size: 26px;
}

.host--navbar{
  padding: 0px 0px 0px 20px;
}

.host--vancard{
  display: flex;
  font-family: Inter;
  text-decoration: none;
  width: 494px;
  height: 102px;
  background-color: #FFFFFF;
  margin: 15px 25px;
  padding: 10px;
}




.navbar{
  width: 548px;
  height: 111.62px;
  background-color: #FFF7ED;
  display: flex;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding: 0px 20px 0px 0px;

}

.navbar--title{
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 900;
  font-size: 25.3531px;
  line-height: 40px;  

  margin-right: auto;
  padding: 0px 0px 0px 20px;

  user-select: none;
  -webkit-user-drag: none;

}

.navbar--link{
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  padding: 0px 15px 0px 0px;

  user-select: none;
  -webkit-user-drag: none;
}
.navbar--link--active{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  padding: 0px 15px 0px 0px;

  user-select: none;
  -webkit-user-drag: none;
}

.homepage{
  width: 548px;
  height: 387px;
}

.homepage--image{
  position: relative;
  width: 548px;
  height: 387px; 
}

.homepage--text{
  position: absolute;
  width: 494.33px;
  height: 84px;
  left: 26.91px;
  top: 177.4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  /* or 117% */


  color: #FFFFFF;
}

.homepage--subtext{
  position: absolute;
  width: 494.33px;
  height: 48px;
  left: 26.91px;
  top: 284.04px;
  padding: 20px 0px 0px 0px;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #FFFFFF;
}

.homepage--button{
  position: absolute;
  width: 494.33px;
  height: 49.83px;
  left: 26.91px;
  top: 383.7px;
  margin: 20px auto;
  border: none;
  cursor: auto;

  


  background: #FF8C38;
  border-radius: 5px;
}

.HostVanDetail{
  height: 499px;
  width: 496px;
  background-color: #FFFFFF;
  margin: 50px auto;
  padding: 20px;
}

.HostVanDetailImage{
  height: 157.9px;
  width: 160.15px;
}

.HostVanDetailHeader{
  display: flex;
}

.link{
  text-decoration: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.link--back{
  margin: 0px 0px 0px 50px;
  font-weight: bold;
  
}

.pad-10{
  padding: 10px;
}

.vancard{
  width: 229.23px;
  height: 309.96px;
  padding: 0px;
  margin: 0px 0px 0px;
  text-decoration: none;  
}

.vancard--content{
  display: flex;
  flex-direction: column;
}

.vancard--text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 158% */
  color: #161616;
  padding: 0px;
  margin: 0 0 10px 0px;  
}

.vancard--image{
  width:229.23px;
  height:229.23px; 
  border-radius: 5px;
}

.vancard--day{
  margin: -20px 0px 0px 0px;
  font-size: 0.80em;
}

.vancard--type{
  width: 85.71px;
  height: 33.89px;  
  border-radius: 6px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* or 198% */

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FFEAD0;

}

.background--orange{
  background-color: #E17654;
}

.background--green{
  background-color: #115E59
}

.background--black{
  background-color: #161616;
}

.background--beige{
  background-color:  #FFEAD0;
  color: black;
}


.vanspage{
  background-color: #FFF7ED;
  margin: 0px;
  padding: 0px 0px 20px 20px;

}

.vansgrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  place-items: center;
}

.vanDetail{
  background-color: #FFF7ED;
  padding: 25px;

}

.vanDetail--image{
  width: 100%;
  margin: 20px 0px 40px 0px;

}

.vanDetail--text{
  padding: 0;
  margin: 10 0;
}

.vanDetail--pricecontainer{
  display: flex;
  align-items: center;
}

.vanDetail--button{
  width: 494.33px;
  height: 50px;
  background-color: #FF8C38;
  border-radius: 5px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  /* or 176% */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  color: #FFFFFF;

}

